In [12]:
import pandas as pd
import numpy as np
fuel=pd.read_csv('./data/fuel.csv',low_memory=False,index_col='Vehicle ID',
                usecols=['Vehicle ID','Year','Make','Model','Class',
                        'Fuel Type','Combined MPG (FT1)'])

In [13]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [14]:
fuel.Year=fuel.Year.astype('int')

In [15]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 8.8 MB

In [16]:
fuel.value_counts('Make')

Make
Chevrolet                           3389
Ford                                2721
Dodge                               2361
GMC                                 2174
Toyota                              1599
                                    ...
Panoz Auto-Development                 1
CODA Automotive                        1
Environmental Rsch and Devp Corp       1
E. P. Dutton, Inc.                     1
ASC Incorporated                       1
Length: 128, dtype: int64

In [17]:
fuel.Make=fuel.Make.astype('category')

In [18]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int32(1), object(3)
memory usage: 6.9 MB

In [21]:
fuel.Model=fuel.Model.astype('category')

In [22]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(2), float64(1), int32(1), object(2)
memory usage: 5.2 MB

In [25]:
fuel.Class=fuel.Class.astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(3), float64(1), int32(1), object(1)
memory usage: 3.0 MB

In [26]:
fuel['Fuel Type']=fuel['Fuel Type'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1)
memory usage: 1.1 MB

In [27]:
fuel['Combined MPG (FT1)']=fuel['Combined MPG (FT1)'].astype('float')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1)
memory usage: 1.1 MB