In [1]:
import pandas as pd
import numpy as np

In [31]:
animals=pd.read_csv('./data/sleep_time.csv',index_col='ID').fillna(0)

In [ ]:
herbi = animals.where(animals['vore'] == 'herbi')
#animals.where(herbi).fillna(0)

In [32]:
len(herbi)

In [35]:
len(herbi.dropna())

32

In [34]:
len(herbi.dropna())

32

In [36]:
carni = animals.where(animals['vore'] == 'carni')

In [37]:
len(carni)

83

In [38]:
len(carni.dropna())

19

In [40]:
carni.dropna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.90,0.0000,50.000
7,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.30,0.0000,20.490
9,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.0700,14.000
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.60,0.0108,3.500
28,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.50,0.0256,3.300
31,Pilot whale,Globicephalus,carni,Cetacea,cd,2.7,0.1,0.000000,21.35,0.0000,800.000
32,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,0.000000,17.80,0.3250,85.000
37,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,0.000000,4.60,0.0000,0.370
45,Slow loris,Nyctibeus,carni,Primates,0,11.0,0.0,0.000000,13.00,0.0125,1.400
47,Northern grasshopper mouse,Onychomys,carni,Rodentia,lc,14.5,0.0,0.000000,9.50,0.0000,0.028
51,Tiger,Panthera,carni,Carnivora,en,15.8,0.0,0.000000,8.20,0.0000,162.564
52,Jaguar,Panthera,carni,Carnivora,nt,10.4,0.0,0.000000,13.60,0.1570,100.000
53,Lion,Panthera,carni,Carnivora,vu,13.5,0.0,0.000000,10.50,0.0000,161.499
59,Caspian seal,Phoca,carni,Carnivora,vu,3.5,0.4,0.000000,20.50,0.0000,86.000
60,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,0.0,0.000000,18.45,0.0000,53.180
80,Bottle-nosed dolphin,Tursiops,carni,Cetacea,0,5.2,0.0,0.000000,18.80,0.0000,173.330
81,Genet,Genetta,carni,Carnivora,0,6.3,1.3,0.000000,17.70,0.0175,2.000
82,Arctic fox,Vulpes,carni,Carnivora,0,12.5,0.0,0.000000,11.50,0.0445,3.380
83,Red fox,Vulpes,carni,Carnivora,0,9.8,2.4,0.350000,14.20,0.0504,4.230

In [42]:
omni_animals = animals['vore'] == 'omni'
omni = animals.where(omni_animals)
omni.dropna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
13,Grivet,Cercopithecus,omni,Primates,lc,10.0,0.7,0.000000,14.0,0.00000,4.750
15,Star-nosed mole,Condylura,omni,Soricomorpha,lc,10.3,2.2,0.000000,13.7,0.00100,0.060
16,African giant pouched rat,Cricetomys,omni,Rodentia,0,8.3,2.0,0.000000,15.7,0.00660,1.000
17,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
20,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
25,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
26,Patas monkey,Erythrocebus,omni,Primates,lc,10.9,1.1,0.000000,13.1,0.11500,10.000
29,Galago,Galago,omni,Primates,0,9.8,1.1,0.550000,14.2,0.00500,0.200
34,Human,Homo,omni,Primates,0,8.0,1.9,1.500000,16.0,1.32000,62.000
38,Macaque,Macaca,omni,Primates,0,10.1,1.2,0.750000,13.9,0.17900,6.800
50,Chimpanzee,Pan,omni,Primates,0,9.7,1.4,1.416667,14.3,0.44000,52.200
54,Baboon,Papio,omni,Primates,0,9.4,1.0,0.666667,14.6,0.18000,25.235
56,Potto,Perodicticus,omni,Primates,lc,11.0,0.0,0.000000,13.0,0.00000,1.100
65,African striped mouse,Rhabdomys,omni,Rodentia,0,8.7,0.0,0.000000,15.3,0.00000,0.044
66,Squirrel monkey,Saimiri,omni,Primates,0,9.6,1.4,0.000000,14.4,0.02000,0.743
74,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250
78,Tenrec,Tenrec,omni,Afrosoricida,0,15.6,2.3,0.000000,8.4,0.00260,0.900
79,Tree shrew,Tupaia,omni,Scandentia,0,8.9,2.6,0.233333,15.1,0.00250,0.104

In [44]:
omni.sleep_total.mean()

10.924999999999999

In [45]:
carni.sleep_total.mean()

10.378947368421054

In [46]:
herbi.sleep_total.mean()

9.509375

In [59]:
animals.query('sleep_total > 14 and vore == "herbi" and bodywt > 1'
             ).sort_values(by='sleep_total',ascending=False)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0,3.85