In [16]:
import pandas as pd
fuel=pd.read_csv('./data/fuel.csv',low_memory=False,
                 usecols=['Vehicle ID','Year','Make','Model','Class',
                          'Fuel Type','Combined MPG (FT1)'],index_col=['Vehicle ID'])
fuel

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [17]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [23]:
fuel['Model'].value_counts(10)

F150 Pickup 2WD                 0.006123
Truck 2WD                       0.005902
F150 Pickup 4WD                 0.005429
Ranger Pickup 2WD               0.005334
Mustang                         0.004924
                                  ...
Silver Spur II Mpw Touring L    0.000032
Brooklands/Brklnds L            0.000032
Vdp                             0.000032
Pas-Typhoon                     0.000032
Lancer AWD                      0.000032
Name: Model, Length: 2957, dtype: float64

In [20]:
fuel.dtypes.value_counts()

object     4
int64      1
float64    1
dtype: int64

In [27]:
fuel.values

array([[1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'Spider Veloce 2000', 'Two Seaters',
        'Regular', 21.0],
       ...,
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubish', nan, nan, nan, nan]], dtype=object)

In [28]:
fuel.axes

[Int64Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593,
             28455,
             ...
             31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064,
             32106],
            dtype='int64', name='Vehicle ID', length=31684),
 Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')]

In [29]:
fuel.shape

(31684, 6)

In [31]:
fuel.count()

Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [32]:
len(fuel)

31684