In [1]:
import pandas as pd
import numpy as np

In [2]:
frame=pd.read_csv('./data/mcdonalds.csv',
                 usecols=['Item','Category','Serving Size','Calories','TotalFat'])

In [3]:
color = ['green','green','blue','blue','red','red','white']
size = ['S','S','S','M','M','M','L']
gender = ['M','W','M','W','M','W','U']
clothes = pd.DataFrame({'color':color,'size':size,'gender':gender})
isColorBlue = clothes['color'] == 'blue'
isColorGreen = clothes['color'] == 'green'
isColorRed = clothes['color'] == 'red'

In [4]:
myFavouriteColors = clothes['color'].isin(['blue','green'])
clothes[myFavouriteColors]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W

In [8]:
clothes.loc[6,'size'] = np.NaN

In [5]:
NotZeros = clothes['size'].notnull()
clothes[NotZeros]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white    L      U

In [11]:
isZero = clothes['size'].isnull()
clothes[isZero]

   color size gender
6  white  NaN      U

In [6]:
caloriesBetween300and400 = frame['Calories'].between(300,400)
frame[caloriesBetween300and400].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0