In [17]:
import pandas as pd
import numpy as np
fb=pd.read_csv('./data/mrbean_facebook_statuses_with_nulls.csv',
              usecols=['status_message','status_type','link_name',
                      'num_reactions','num_shares','num_likes'])

In [18]:
fb.head()

,status_message,link_name,status_type,num_reactions,num_shares,num_likes
0,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,16570.0,338.0,16079
1,NaN,Timeline Photos,photo,119886.0,1657.0,114008
2,NaN,Timeline Photos,photo,NaN,10050.0,218579
3,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,20913.0,257.0,20338
4,NaN,Timeline Photos,photo,223602.0,2228.0,215591

In [19]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     object
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: float64(2), int64(1), object(3)
memory usage: 16.1 KB

In [20]:
fb['status_type'].value_counts()

video    32
photo    22
link      2
Name: status_type, dtype: int64

In [21]:
fb['status_type']=fb['status_type'].astype('category')

In [22]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(1), float64(2), int64(1), object(2)
memory usage: 13.0 KB

In [23]:
fb['link_name'].value_counts()

Timeline Photos                                                               22
www.youtube.com                                                                4
Mr. Bean - Sneezing and Snoozing In Church                                     1
Mr. Bean - Mystery creature                                                    1
Mr. Bean - Saxophone Player                                                    1
Mr. Bean - Elderly people on stairs                                            1
Rowan Atkinson: I will never wave goodbye to Mr Bean                           1
Mr. Bean's Happy Moments                                                       1
Mr. Bean - At the Disco                                                        1
Mr Bean - Preparing To Go Camping                                              1
Mr. Bean - Shopping for Towels                                                 1
Mr. Bean - Counting Sheep.                                                     1
Mr. Bean - High Dive                                                           1
Mr. Bean (NEW series) - The Lift                                               1
Mr Bean - Country fete games -- Volksfest Spiele                               1
Even in LEGO, Mr. Bean travels in comfort | The Brothers Brick | LEGO Blog     1
Mr. Bean - Making A Sandwich                                                   1
Mr. Bean (NEW series) - Ice Cream                                              1
Mr Bean - Crazy Golf                                                           1
Mr. Bean - Fixing Your Own Teeth                                               1
Mr Bean - Restaurant Etiquette                                                 1
Mr Bean (NEW series) - Litterbugs Clip                                         1
Mr. Bean - Alarm Clock                                                         1
Mr. Bean (NEW Series) - Dancing Bean                                           1
Mr. Bean - Embarrassing Moments Compilation                                    1
Mr. Bean - How to stop a baby from crying                                      1
Mr Bean - Dinner for Two                                                       1
Mr Bean - Chemistry experiment                                                 1
Mr Bean - Sun Block                                                            1
Mr Bean - Ray Of Sunshine                                                      1
Mr Bean - Broken Tooth                                                         1
Mr Bean - Prison Break                                                         1
Name: link_name, dtype: int64

In [24]:
fb['link_name']=fb['link_name'].astype('category')

In [25]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(2), float64(2), int64(1), object(1)
memory usage: 12.4 KB

In [26]:
fb['num_reactions'].fillna(0,inplace=True)
fb['num_shares'].fillna(0,inplace=True)
fb['num_reactions']=fb['num_reactions'].astype('int')
fb['num_shares']=fb['num_shares'].astype('int')
fb['num_likes']=fb['num_likes'].astype('int')

In [28]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   56 non-null     int32
 4   num_shares      56 non-null     int32
 5   num_likes       56 non-null     int32
dtypes: category(2), int32(3), object(1)
memory usage: 11.8 KB